.sliders {
    position: absolute;
    z-index: -9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;

    .slider {
        position: absolute;
        z-index: -9998;
        background-color: black;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: 50%;
        top: 0;
        left: 0;

        .slider__cover {
            position: absolute;
            z-index: -9997;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .slider__content {
            padding-top: 24rem;
            margin: 0 4.4rem 4.4rem 4.4rem;
            user-select: none;

            h1 {
                margin: 2rem 0;
                color: white;
            }

            .button-text {
                margin-top: 2rem;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.4rem;

                .button-underline {
                    height: 0.1rem;
                    width: 10rem;
                    background: white;
                    display: block;
                }
            }
        }
    }
}