.detail__wrapper {
    padding-top: 10rem;

    @include tablet {
        padding: 10rem 8.8rem 0 8.8rem;
    }

    .detail {
        .detail__content {
            margin: 4.4rem;

            @include tablet {
                max-width: 80rem;
                margin: 4.4rem auto;
            }

            .detail__content-title {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .detail__content-date {
                margin-top: 0;
                margin-bottom: 2rem;
            }

            .detail__content-body {
                margin-top: 4rem;
                font-size: 1.8rem;
                line-height: 1.5;
            }
        }

        .detail__images {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

.backButton {
    position: fixed;
    bottom: 2rem;
    width: 100%;

    .circle {
        margin: 0 auto;
        border: .2rem solid white;
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        cursor: pointer;

        .cross {
            color: white;
            font-weight: 700;
            text-align: center;
            font-size: 2rem;
            margin-top: .5rem;
        }
    }
}