header {
    position: fixed;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    width: 100%;

    .header-menu {
        margin: 4.4rem 0 4.4rem 4.4rem;
        cursor: pointer;

        span {
            font-weight: 700;
            padding-left: 1.5rem;
        }
    }

    .header__language-selector {
        text-align: right;
        margin: 4.4rem 4.4rem 4.4rem 0;
        cursor: pointer;
        
        p {
            color: #C2C2C2;
            margin: 0;
            font-weight: 700;
        }
    }

    .light {
        color: white;
    }

    .dark {
        color: black;
    }
}

.menu {
    position: absolute;
    height: 100vh;
    width: auto;
    padding: 3rem;
    background: white;
    transform: translateX(-100%) translateZ(0px);

    .menu__header {
        margin-bottom: 4rem;
        cursor: pointer;

        span { font-weight: 700; padding-left: 1.5rem; }
    }

    div {
        margin: .5rem;
        padding: .5rem;
        a {
            color: black;
            font-weight: 400;
            font-size: 2rem;
        }
    }

    .menu__footer {
        position: absolute;
        bottom: 6rem;
    }
}

.language__wrapper { 
    position: absolute;
    width: 10rem;
    height: 20rem;
    overflow: hidden;
    width: auto;
    right: 0;
    top: 7rem;
}

.language {
    position: relative;
    width: auto;
    padding: 0rem 2rem 2rem 2rem;
    transform: translateY(-100%) translateZ(0px);

    div {
        margin: 1rem .4rem;
        padding: 1rem;

        p {
            color: #C2C2C2;
            font-weight: 700;
            margin: 0;
            cursor: pointer;
        }
    }
}

