header {
    position: fixed;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    width: 100%;

    .header-menu {
        margin: 4.4rem 0 4.4rem 4.4rem;

        span {
            color: white;
            font-weight: 700;
            padding-left: 1.5rem;
        }
    }

    .header__language-selector {
        text-align: right;
        margin: 4.4rem 4.4rem 4.4rem 0;
        
        a {
            color: #C2C2C2;
        }
    }
}

